@import "tailwindcss";

@theme {
    --color-bmes-white: #FFFFFF;
    --color-bmes-gray: #EAF1F7;
    --color-bmes-blue-100: #8FA2BD;
    --color-bmes-blue-200: #579AE8;
    --color-bmes-blue-300: #003067;
    --color-bmes-blue-400: #031C48;
}