@import "tailwindcss";

@theme {
  --color-bmes-blue-100: #031c48;
  --color-bmes-blue-200: #003067;
  --color-bmes-blue-300: #579ae8;
  --color-bmes-blue-400: #5799e6;
  --color-bmes-blue-500: #003067;

  --color-bmes-gray-100: #8fa2bd;
  --color-bmes-gray-200: #eaf1f7;
}
